.app {
    --bg-color: #F4F7FE;
    --card-bg: #fff;
    --input-bg: #fff;
    --primary-color: #11047A;
    --grey: #A3AED0;
    --sidebar-bg: #fff;
    --box-shadow: 0px 0px 20px 0px rgba(67, 24, 255, 0.10);
}